/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Abeezee';
}

body {
    background: #cccccc;

}

section {
    display: flex;
    background-color: transparent;
    padding: 2em 0;
}


.first-section,
.third-section,
.fifth-section {
    padding-left: 8em;

}


.container {
    width: 70%;
    background-color: white;
    border-radius: 15px;
    padding: 2em 4em;
}
.cont{
    display: flex;
    gap: 1em;

}
.cont img{
    border-radius: 5px;
    width: 20em;
    height: 20em;
}
.bgColor {
    background-color: #057DF4;
    color: white;
    float: right;
    position: relative;


}

.shadow {
    box-shadow: 10px 10px 6px 10px #f1f0f5;
    position: relative;
}

.second-Section,
.forth-section {

    display: flex;
    justify-content: right;
    padding-right: 8em;
}

.sectionHeading {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 30px;
}

.Introduction {
    margin-left: 4%
}

.second-Section ul li,
.fifth-section ul li {
    margin-bottom: 1em;
}

.first-section .container {
    border: 3px solid #057DF4;
    animation: slideleft 1s ease-in;
}

.third-section .container {
    border: 3px solid orangered;
}

.fifth-section .container {
    border: 3px solid #057DF4;
}

button {
    background-color: orangered;
    color: white;
    outline: none;
    border: none;
    padding: 1em 3em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    padding: 0.5em;
    gap: 1em;
    outline: none;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;

}

.inputContainer:focus-within {
    border: 2px solid black;
}

.borderRed {
    border: 2px solid red;
}

.inputContainer input {
    padding: 0.5em 0;
    outline: none;
    border: none;
    width: 20em;
}


.formContainer {
    background-color: transparent;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 2em;


}

form {
    background-color: #057DF4;
    padding: 1em 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #057DF4;
}


form h2 {
    text-align: center;
    font-size: 35px;
}

.signUpBtn {
    padding: 10px 20px;
}

button:hover {
    background-color: #f1f0f5;
    color: orangered;
}

form a {
    color: white;
}

.noAccount {
    color: white;
    font-size: 18px;
}

.happy {
    position: absolute;
    width: 17%;
    right: 5%;
    top: 2%;

}

.smirking {
    position: absolute;
    width: 11%;
    right: 20%;
    top: 0;

}

.ThinkingSmiley {
    position: absolute;
    width: 16%;
    right: 5%;
    top: 0%;

}

.thinking {
    position: absolute;
    width: 16%;
    right: 29%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
    width: 10%;
    border-radius: 10px;
}

.WarningPopUp {
    font-size: 12px;
    padding: 0px;
    display: none;
}

.errCont {
    color: red;
    background-color: white;

}
.curriculumContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.firstSubCont{
  display: flex;
  gap: 10px;
}
.subCuriCont{
    background-color: rgba(128, 128, 128, 0.192);
    padding: 1em;
    border-radius: 10px;
    width: 10em;
}
.subCuriCont h1{
    font-size: 20px;;
}
.Languages {
    margin-top: 1em;
   margin-left:30px;
}
.Languages img{
    width: 50%;
}
.imagetwo{
    width: 100px;
}